.brand-logo{
    font-size: 2.9vw !important;
    margin-left: 1rem
}

button:focus{
    background: unset !important;
}

.sm-menu-content{
    margin: 1rem 2rem;
}

.sm-menu-content li{
    margin: 1rem 0 !important
}

.sm-menu-content li a{
    color: #6a4757;
}

.header{
    background-color: #6a4757;
}

.menu-btn{
    padding: 1rem 0 0 0 !important;
    background: unset !important;
    border-radius: unset !important;
    float: right !important;
    color: white !important;
}

@media screen and (max-width: 767px){
    .menu-btn{
    }

    .lg-menu-content{
        display: none
    }
}

@media screen and (min-width: 767px){
    .menu-btn{
        display: none !important;
    }

    .lg-menu-content{

    }
}
